a{
	color:#22BCE0;
}
body{
	background: #EEEEEE;
	font-family: Arial;
	font-size: 16px;/*normalize loc oloca a 16px*/
}
header{
	background: #344B54;/*RVA va de a 255 FF=255 es el numero mas alto*/
	/*0 es el menor F es el mayor, 7 es el intermedio*/
	color: white;
	overflow: hidden;
	padding: 0.5em;/*probar con margin es diferente*/
	margin: 1em;
}
header figure{
	float: left;
}
header h1{
	font-size: 1.2em;/*20% mas*/
	font-weight: normal;/*sin negrita*/
	/*em para los textos*/
}
header #avatar img{
	width: 54px;/*el alto se calcula automaticamente y proporcionalmente*/
	border-radius: 50%;/*oki*/
}
header #logo img{
	border-right: 1px solid white;
	padding-right: 0.5em;/*margen interno de una caja*/
	margin-right: 0.5em;/*margen externo de una caja*/
	width: 52px;/*el alto se calcula automaticamente y proporcionalmente*/

}
/*48 min*/